<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Addition</title>
</head>
<body>
<h1>Addition</h1>
<form method="post">
    <input type="number" name="number1" th:value="${param.number1}" placeholder="Number 1"> +
    <input type="number" name="number2" th:value="${param.number2}" placeholder="Number 2">
    <input type="submit" name="equals" value="=">
    <output name="output" th:text="${result}"></output>
</form>
<br/>
<br/>
<a href="http://localhost:8080"><button>Back</button></a>

</body>
</html>
