<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Counter</title>
</head>
<body>
<h1>Counter</h1>

<div>
    Count: <span th:text="${count}">0</span>
</div>
<br/>
<br/>
<a href="http://localhost:8080"><button>Back</button></a>
</body>
</html>
