<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
<h1>Say Hello</h1>
<div th:text="${message}">
    Message
</div>
<br/>
<br/>
<a href="http://localhost:8080"><button>Back</button></a>
</body>
</html>
