<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirm your registration</title>
    <style>
        td{
            padding-right: 40px;
        }
        body{
            background-color: antiquewhite;
        }
    </style>
</head>
<body th:object="${myform}">
<h1>Registration accepted!</h1>
<h2>Registration details: </h2>
<table>
    <tr>
        <th>Details</th>
    </tr>
    <tr>
        <td>Brand</td>
        <td th:text="*{brand}"></td>
    </tr>
    <tr>
        <td>Model</td>
        <td th:text="*{type}"></td>
    </tr>
    <tr>
        <td>Year</td>
        <td th:text="*{year}"></td>
    </tr>
    <tr>
        <td>Fuel</td>
        <td th:text="*{fuel}"></td>

    <tr>
        <td>Power (kW)</td>
        <td th:text="*{power}"></td>
    </tr>
    <tr>
        <td>Transmission</td>
        <td th:text="*{transmission}"></td>
    </tr>
    <tr>
        <td>Towbar</td>
        <td th:text="*{towbar}"></td>
    </tr>
    <tr>
        <td>Options</td>
        <td th:text="*{listedoptions}"></td>
    </tr>
    <tr>
        <td>Entry Date</td>
        <td th:text="*{entryIntoService}"></td>
    </tr>
    <tr>
        <td>Plate</td>
        <td th:text="*{plate}"></td>
    </tr>
    <tr>
        <td>Price</td>
        <td th:text="*{price}"></td>
    </tr>

</table>


</body>
</html>
