<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="style.css">
    <style>
        form  { display: table;      }
        p     { display: table-row;  }
        label { display: table-cell; }
        input { display: table-cell; }
        select{display: table-cell; }
        body{
            background-color: antiquewhite;
        }
    </style>
</head>
<body>
<h1>Registration of a new vehicle</h1>
<hr/>

<form method="post" th:object="${myform}">
    <p><label>Brand: </label><input type="text" th:field="*{brand}"/></p>

    <p><label>Type:</label><input type="text" th:field="*{type}"/></p>

    <p><label>Year:</label><input type="number" min="1971" th:field="*{year}"/></p>

    <p>
        <label>Fuel:</label>
        <select th:field="*{fuel}">
            <span th:each="el : ${T(be.mustafa.spring.mvc.voertuigregistratie.FuelType).valuesList()}">
            <option th:value="${el.name()}" th:text="${el.name()}"></option></span>
        </select>
    </p>

    <p><label>Power (kW):</label><input type="number" min="1" th:field="*{power}"/></p>

    <p>
        <label>Transmission:</label>
        <span th:each="transmission : ${T(be.mustafa.spring.mvc.voertuigregistratie.TransmissionType).valueList()}">
            <input type="radio" th:text="${transmission}" th:value="${transmission}" th:field="*{transmission}">
        </span>
    </p>

    <p><label>Towbar:</label><input type="checkbox" th:field="*{towbar}"/></p>

    <p><label>Options:</label>
        <select th:field="*{options}" size="4" multiple>
        <option value="alarm">Alarm</option>
        <option value="handsfree">Handsfree carkit</option>
        <option value="mp3">MP3 player</option>
        <option value="sport">Sport pack</option>
    </select>
    </p>

    <p><label>Date entry into service(dd/mm/yyyy):&nbsp;&nbsp;&nbsp;</label><input type="text" th:field="*{entryIntoService}"/></p>

    <p><label>Plate (D-XXX-DDD):</label><input type="text" th:field="*{plate}"/></p>

    <p><label>Price: </label><input type="number" th:field="*{price}" step="0.01"/> €</p>

    <br/>
    <input type="submit" value="Register">
</form>

</body>
</html>
