<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
</head>
<body>
<h1>Calculator</h1>
<form method="post">
<output name="output" th:text="${result}"/><br/>
<input type="number" name="number1" placeholder="0"/><br/>
<input type="submit" name="add" value="+"/>
<input type="submit" name="sub" value="-"/>
<input type="submit" name="mul" value="*"/>
<input type="submit" name="div" value="/"/>
<input type="submit" name="reset" value="C"/>
</form>

<br/>
<br/>
<a href="http://localhost:8080"><button>Back</button></a>


</body>
</html>
