<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
<h1>Products</h1>
<div>
    <form th:each="el, status : ${products}" method="post">
        <input type="text" name="productname" th:value="${el}" placeholder="Product...">
        <input type="number" name="index" th:value="${status.index}" hidden>
        <input type="submit" name="del" value="Del">
        <input type="submit" name="change" value="Change">
    </form>
    <form method="post">
    <input type="text" name="addproduct" placeholder="Add product...">
    <input type="submit" name="add" value="Add">
    </form>

</div>

<br/>
<br/>
<a href="http://localhost:8080"><button>Back</button></a>

</body>
</html>
