<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bookdetail</title>
</head>
<body>
<h1>Book Detail</h1>
<div>
    <ul>
        <li th:text="${bookdetails.getTitle()}"></li>
        <li th:text="${bookdetails.getIsbn()}"></li>
        <li th:text="${bookdetails.getAuthor()}"></li>
        <li th:text="${bookdetails.getPrice()}"></li>
        <li th:text="${bookdetails.getStock()}"></li>
    </ul>

</div>
<a href="http://localhost:8080"> <button>HOME</button></a>&nbsp;
<a href="/book"> <button>BACK</button></a>
</body>
</html>
