<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>
<h1>Books</h1>

<div>
    <ul>
        <li th:each="el, status : ${allbooks}">
            <a href="book" th:href="@{book(isbn=${el.getIsbn()})}" th:text="${el.getTitle()}"></a>
        </li>
    </ul>
</div>

</body>
</html>
